
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>e-Fatura & İnternet Fatura Ücretsiz Dijital Dönüşüm</title>
    <meta content=" İnternet Fatura bir Bilsoft kuruluşudur. e-Fatura, sanalfatura.com, dijital Dönüşüm, fatura, e-Fatura, e-İrsaliye, ücretsiz e-fatura, e-fatura fiyatları, e-fatura entegratörü, e-fatura gib, e-fatura portal,
          e-fatura sorgulama, e-fatura arşiv, e-fatura platformu, e-fatura medikal" name="description">
    <link rel="canonical" href="">
    <meta name="author" content="İnternet Fatura bir Bilsoft kuruluşudur." />
    <meta name="publisher" content="VS 2019" />
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="İnternetFatura" />
    <meta name="twitter:title" content="e-Fatura & İnternet Fatura Ücretsiz Dijital Dönüşüm" />
    <meta name="twitter:description" content="e-Fatura, sanalfatura.com, dijital Dönüşüm, fatura, e-Fatura, e-İrsaliye, ücretsiz efatura, efatura fiyatları, efatura entegratörü, efatura gib, efatura portal,
          efatura sorgulama, efatura arşiv, efatura platformu, medikal, efatura medika" />
    <meta name="twitter:image" content= />
    <meta name="keywords" content="elogo efatura,payflex e fatura, ucretsiz efatura,fatura,
          e-Fatura, e-İrsaliye,e fatura, ücretsiz efatura, efatura başvuru,
          efatura fiyatları, efatura entegratörü, internetfatura">
    <!-- Bootstrap CSS -->

    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Icon -->
    <link href="~/Content/assets/fonts/line-icons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <!-- Owl carousel -->
    <link href="~/Content/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/assets/css/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" />
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main.css" rel="stylesheet" />
    <!-- Animate -->
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet" />
    <meta name="google-site-verification" content="j0aab42OOqWiVNi3SaTvmT2bn45WcaQy_hV-xOg_aac" />
</head>
<body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a href="/Efatura/Index" class="navbar-brand">


                    <img src="~/Content/img/İnternetfaturamlogo.png" alt="internetfatura" style="max-height:8em; max-width:12em;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item ">
                            <a class="nav-link" href="/Efatura/Index" title="Anasayfa">
                                ANASAYFA
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Efatura/Index#services" title="Özellikler">
                                ÖZELLİKLER
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Efatura/Kampanyalar" title="Kampanyalar">
                                KAMPANYALAR
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Efatura/Blog" title="Blog">
                                BLOG
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Efatura/Index#pricing" title="Sıkça Sorulan Sorular">
                                S.S.S
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Efatura/destek" title="Destek">
                                DESTEK
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="/Efatura/Iletisim" title="Iletisim">
                                İLETİŞİM
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Hero Area End -->

    </header>

    @RenderBody()
    <footer id="footer" class="footer-area section-padding" style="margin-top:0px;">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="footer-logo">

                                <img src="logo" title="">
                            </h3>
                            <div class="textwidget">
                                <p>Sosyal medya hesaplarımızdan da bizi takip edebilirsiniz.</p>
                            </div>
                            <div class="social-icon">
                                <a class="facebook" href="https://www.facebook.com/internetfatura/?ref=pages_you_manage"><i class="lni-facebook-filled"></i></a>
                                <a class="twitter" href="https://twitter.com/FaturaInternet"><i class="lni-twitter-filled"></i></a>
                                <a class="instagram" href="https://www.instagram.com/internetfatura/?hl=tr"><i class="lni-instagram-filled"></i></a>
                                <a class="linkedin" href="https://www.linkedin.com/in/internet-fatura-45b692218/"><i class="lni-linkedin-filled"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <h3 class="footer-titel">Site Linkleri</h3>
                        <ul class="footer-link" id="footer-text">
                            <li><a href="/Efatura/Index">Anasayfa</a></li>
                            <li><a href="/Efatura/Index#services">Özellikler</a></li>
                            <li><a href="/Efatura/Kampanyalar">Kampanyalar</a></li>
                            <li><a href="/Efatura/Blog">Blog</a></li>
                            <li><a href="#">Şimdi İndir</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <h3 class="footer-titel">Özellikler</h3>
                        <ul class="footer-link" id="footer-text">
                            <li><a href="/Efatura/Index#services">Raporlama Sistemi</a></li>
                            <li><a href="/Efatura/Index#services">Fatura Modülü</a></li>
                            <li><a href="/Efatura/Index#services">Stok Takip Modülü</a></li>
                            <li><a href="/Efatura/Index#services">Arşivleme</a></li>
                            <li><a href="/Efatura/Index#services">Gönderme</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <h3 class="footer-titel">İletişim</h3>
                        <ul class="address" id="footer-text">

                            <li>
                                <a href="#"><i class="lni-phone-handset"></i> 0850 611 06 74</a>
                            </li>
                            <li>
                                <a href="#"><i class="lni-envelope"></i>bilgi@internetfatura.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-content">
                            © Copyright <strong><span>İnternetFaturam</span></strong>. Tüm Hakları Saklıdır. İnternetFaturam bir <a id="bil-col" href="https://www.bilsoft.com/"><strong><span>Bilsoft Yazılım</span></strong></a> kuruluşudur.


                            &nbsp;<a id="cerez" href="/Efatura/KVKK"><strong>Çerez Politikası</a><strong />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-arrow-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="~/Content/assets/js/jquery-min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/wow.js"></script>
    <script src="~/Content/assets/js/jquery.nav.js"></script>

    <script src="~/Content/assets/js/scrolling-nav.js"></script>

    <script src="~/Content/assets/js/jquery.easing.min.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

    @model InternetFatura.Models.Email
    <script>
        $("form button.btn").on("click", function () {

            let mail = {
                "Ad": $("input#Ad").val(),
                "Telefon": $("input#Telefon").val(),
                "Mail": $("input#Mail").val(),
                "Konu": $("input#Konu").val(),
                "Mesaj": $("textarea#Mesaj").val(),
            };
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.success("Başarıyla mail gönderdiniz.")
            $.ajax({
                url: "@Url.Action("Index","Efatura")",
                type: "post",
                dataType: "JSON",
                data: mail,
                success: function (res) {
                    console.log(res)
                    if (res.IsSuccess) {

                    } else { }
                    for (var i = 0; i < 5; i++) {
                        $("form")[i].reset()
                    }

                },
                error: function () {

                }
            });

            return false;
        })
    </script>

</body>
</html>
