
@{
    ViewBag.Title = "Blog3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--<section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Blog</li>
                </ol>
            </div>

        </div>
    </section>-->
    <!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/Content/img/blog/E-arşive fatura nedir-100.jpg" alt="e arşiv fatura" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank">E-Arşiv Fatura Nedir?</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                @*<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/Efatura/EFatura_Nedir" target="_blank">John Doe</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank"><time datetime="2020-01-01">28.07.2021</time></a></li>
                                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/Efatura/EFatura_Nedir" target="_blank">12 Comments</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank"><time datetime="4dk">Okuma Süresi: 5dk</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                <!--1.Yazı-->
                                e-Arşiv fatura, elektronik fatura uygulamasının kapsama alanı dışında kalan
                                kurum ve kişiler arasındaki kağıt fatura işlemlerinin ve saklanmasının elektronik ortama taşındığı fatura türüdür.
                            </p>
                            <div class="read-more">
                                <a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank">Devamını Oku</a>
                            </div>
                        </div>

                        
               
                    </article>
                <!--<!--2.YAZI-->
                <!--<article class="entry">

    <div class="entry-img">

        <img src="~/Content/assets/img/blog/efaturaonlnenasıl krurulr2.jpg" alt ="e fatura portal">


    </div>

    <h2 class="entry-title">
        <a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">E-Faturaya Geçiş Zorunluluğu</a>
    </h2>

    <div class="entry-meta">
        <ul>-->
                @*<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">John Doe</a></li>*@
                <!--<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank"><time datetime="2020-01-01">17.05.2021</time></a></li>-->
                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">12 Comments</a></li>*@
                @*<li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank"><time datetime="4dk">Okuma Süresi: 4dk</time></a></li>
            </ul>
        </div>

        <div class="entry-content">
            <p>*@
                <!--2.Yazı-->
                <!--01.07.2020 Tarihinden itibaren kapsam içerisinde olan işletmelerin e-fatura uygulamasına dahil olmaları gerekiyor fakat komisyoncu veya tüccar olarak sebze ve meyve ticareti ile iştigal eden mükellefler 01.01.2020 tarihinden itibaren e-fatura kullanımına geçmeleri gerekiyor.


            </p>
            <div class="read-more">
                <a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">Devamını Oku</a>
            </div>
        </div>

    </article>-->
                <!-- End blog entry -->

                <div class="blog-pagination">
                    <ul class="justify-content-center">
                        <li><a href="/Efatura/Blog" target="_blank">1</a></li>
                        <li><a href="/Efatura/Blog2" target="_blank">2</a></li>
                        <li class="active"><a href="/Efatura/Blog3" target="_blank">3</a></li>
                        @*<li><a href="#">3</a></li>*@
                    </ul>
                </div>

            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                    @*<h3 class="sidebar-title">Ara</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>*@
                    <!-- End sidebar search formn-->

                    <h3 class="sidebar-title">Kategoriler</h3>
                    <div class="sidebar-item categories">
                        <ul>

                            <li><a href="https://localhost:44383/Efatura/EFatura_Nedir">E-Fatura <span></span></a></li>
                            <li><a href="https://sanalfatura.com/Efatura/EFatura_Nedir">Muhasebe <span></span></a></li>
                            <li><a href="https://sanalfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-Arşiv <span></span></a></li>
                            <li><a href="https://sanalfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-İrsaliye <span></span></a></li>
                            @*<li><a href="#">Educaion <span></span></a></li>*@
                        </ul>
                    </div><!-- End sidebar categories-->

                    <h3 class="sidebar-title">Çok Okunanlar</h3>
                    <div class="sidebar-item recent-posts">
                        <div class="post-item clearfix">
                            <img src="~/Content/img/blog/efaturanedir.jpg" alt="ucretsiz efatura">

                            <h4><a href="/Efatura/EFatura_Nedir" target="_blank">E-Fatura Nedir? Avantajları Nelerdir?</a></h4>

                        </div>

                        <div class="post-item clearfix">

                            <img src="~/Content/img/blog/onlinekurulum-100 (1).jpg" alt="e fatura">
                            <h4><a href="/EFatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">E-Fatura Geçiş Zorunluluğu</a></h4>

                        </div>
                        <div class="post-item clearfix">
                            <img src="~/Content/img/blog/efaturanasılkullnlr.jpg" alt="e irsaliye" />
                            <h4><a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>

                        </div>
                        <div class="post-item clearfix">

                            <img src="~/Content/img/blog/önmusahebendr.jpg" alt="payflex efatura">
                            <h4><a href="/Efatura/Ön_muhasebe_nedir" target="_blank">Ön Muhasebe Nedir?</a></h4>

                        </div>
                        <div class="post-item clearfix">

                            <img src="~/Content/img/blog/E-arşive fatura nedir-100.jpg" alt="efatura">
                            <h4><a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank">E-Arşiv Fatura Nedir?</a></h4>

                        </div>
                        @*<div class="post-item clearfix">

                            <img src="~/Content/assets/img/blog/efaturaonlnenasıl krurulr2.jpg" />
                                         <h4><a href="blog-single.html">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>
                                         <time datetime="2020-01-01">20.04.2021</time>
                                     </div>

                                     <div class="post-item clearfix">
                                        <img src="~/Content/assets/img/blog/ikinciblogtasarımı.jpg"  alt="e fatura irsaliye">
                                         <h4><a href="blog-single.html">E-Müstahsil Geçiş Zorunluluğu</a></h4>
                                         <time datetime="2020-01-01">01.04.2021</time>
                                     </div>*@

                    </div><!-- End sidebar recent posts-->

                    <h3 class="sidebar-title">Etiketler</h3>
                    <div class="sidebar-item tags">
                        <ul>
                            <li><a href="/Efatura/Blog">Efatura</a></li>
                            <li><a href="/Efatura/Blog">Ön Muhasebe</a></li>
                            <li><a href="/Efatura/Blog">E-İrsaliye</a></li>
                            <li><a href="/Efatura/Blog">Muhasebe</a></li>
                            <li><a href="/Efatura/Blog">E-Arşiv</a></li>
                            <li><a href="/Efatura/Blog">E-Defter</a></li>
                            @*<li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>*@
                        </ul>
                    </div><!-- End sidebar tags-->

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
