
@{
    ViewBag.Title = "EFatura_Nedir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--<section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog Single</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li>Blog Single</li>
                </ol>
            </div>

        </div>
    </section>-->
    <!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="~/Content/img/blog/efaturanedir.jpg"alt="efatura başvuru" class="img-fluid" />
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">E-Fatura Nedir? Avantajları Nelerdir?</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                @*<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">01.04.2021</time></a></li>
                                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="/Efatura/Blogicerik" target="_blank"><time datetime="4dk">Okuma Süresi: 4dk</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content" style="text-align:justify">
                            <p>
                                Elektronik fatura sistemleri, konfor ve rahatlık açısından giderek daha yaygın hale geliyor.
                                Müşteriler ve şirket arasında bir güven ortamı yaratır.
                                Hızından dolayı zamandan ve paradan tasarruf edebilir.

                            </p>

                            <p>
                                E-Fatura sisteminin zorunlu kullanıcısı olmasanız bile geçiş yapmayı seçebilirsiniz.
                                Peki geçiş için gerekli prosedürler nelerdir?
                            </p>

                            <blockquote>
                                <p>
                                    E–Fatura Nedir? Nasıl başvuru yapılır?
                                </p>
                            </blockquote>

                            <p>
                                Elektronik fatura sistemi, ticari alandaki teknolojik gelişmenin avantajlarından biridir.
                                Elektronik fatura sistemi, elektronik dönüştürme adı verilen bir süreçle ortaya çıktı.
                                Dijital ortamda fiilen elde ettiğiniz faturalara ve fatura işleme sürecinin gerçekleşmesine elektronik fatura denir.

                                Dünyada ve ülkemde yaygın olarak kullanılan elektronik fatura sistemi sayesinde tüm işletmeler ve mükellefler kolaylıkla elektronik fatura kesebilmekte ve gerektiğinde eski faturalara kolaylıkla ulaşabilmektedir. Elektronik fatura sistemi kağıt faturalarla aynı standartlara sahip olduğu için hukuka uygun olarak derlenmektedir.
                                Ek olarak, elektronik faturalar kağıt israfını ve nakliye maliyetlerini önleyebilir. Bu nedenle elektronik fatura sistemi hızla popüler hale geldi.
                            </p>

                            <h3>E – Fatura Başvurusu Nasıl Yapılır?</h3>
                            <p>
                                Elektronik fatura sistemine geçmek istiyorsanız, vergi idare sistemine kayıt olmanız ve elektronik fatura aktivasyon işlemini tamamlamanız gerekmektedir.
                                Tüm süreçlerin kolay ve adım adım halledilebilmesi için doğru adımları izlemelisiniz. Peki bu adımlar nelerdir?<br /> <br />

                                <span style="font-weight:bold">Mali mühür temini:</span> Öncelikle şirketinizin Mali Mühür Sertifikası’na sahip olması için başvurmalısınız. Mali Mühür Sertifikası, Gelir İdaresi Başkanlığı’nın düzenlediği bir elektronik mühürdür.
                                Bu mührü elde edebilmeniz için TÜBİTAK’a bağlı olan Kamu Sertifikasyon Merkezi (KSM) internet istesine girerek başvurunuzu yaptıktan sonra TÜBİTAK’a Mali Mühür Sertifikası ücreti ödemelisiniz.
                                Başvuru sürecinizi tamamladıktan sonra sertifikanızın size ulaşma süresi 3-10 gün arasındadır.<br />
                                <span style="font-weight:bold">Online işlemler:</span> Gerekli pin işlemlerini Kamu Sertifikasyon Merkezi’ne ait internet sitesinin online işlemler kısmından halledebilirsiniz.
                                Mali Mühür Sertifikası almış bir kurum ya da mükellef olmanız durumunda e-posta, telefon gibi iletişim bilgilerinizi online işlemler kısmında güncelleyebilirsiniz. <br />
                                <span style="font-weight:bold">E-fatura başvurusu:</span> Gelir İdaresi Başkanlığı’na ait ”e-fatura canlı ortam başvuru” formunu doldurarak e-fatura kullanmak istediğinizi beyan etmiş ve başvurunuzu yapmış olursunuz.
                                Sonrasında başvurunuzu kontrol etmek isterseniz e-fatura portalı sorgulama ekranına girerek gerekli kontrolü sağlayabilirsiniz. <br />
                                <span style="font-weight:bold">E-fatura aktivasyonu:</span> Son adım diyebileceğimiz bu adımda, elektronik ortam üzerinden fatura gönderip almanız için oluşturduğunuz hesabı aktif hale getirmeniz gerekir. Bunun için, e-fatura başvuru rehberinde var olan bir programı bilgisayarınıza indirerek çalıştırmanız ve mali mührünüzü kullanmanız gerekir. Aktivasyon işlemi sonucunda e-fatura sisteminiz işleme açılmış olur.

                            </p>
                            <img src="~/Content/img/blog/efaturanasılkullnlr.jpg" class="img-fluid" alt="e-İrsaliye">

                            <h3>E-Faturanın Avantajları Nelerdir?</h3>
                            <p>
                                E-Faturanın hayatımıza getirdiği birçok avantaj bulunmaktadır. Kısaca bahsetmek gerekirse;
                                <ul>
                                    <li> İşletmenizin maliyetini azaltır.</li>
                                    <li> Kağıt fatura bastırmanıza gerek kalmaz. e-fatura elektronik ortamda hazırlanır ve gönderilir.</li>
                                    <li> Faturaların müşteriye gönderimi için kargolamaya gerek kalmaz. e-faturayı anında müşterinize iletilir.</li>
                                    <li> e-Faturalar dijital ortamda arşivlenir ve arşivleme işleminden kurtulursunuz.</li>
                                    <li>Faturalarınızın kaybolma riskini ortadan kaldırır.</li>
                                    <li>Hem çevre dostu hemde tasarrufludur.</li>
                                    <li>Faturaları daha hızlı hazırlamanızı sağladığı için zamandan tasarruf edersiniz.</li>
                                    <li>Tahsilatlarınızı hızlandırmanızı sağlar.</li>
                                </ul>
                            </p>
                            <p>

                            </p>

                        </div>

                        @*<div class="entry-footer">
                                      <i class="bi bi-folder"></i>
                                      <ul class="cats">
                                          <li><a href="#">Business</a></li>
                                      </ul>

                                    <i class="bi bi-tags"></i>
                                      <ul class="tags">
                                          <li><a href="#">Creative</a></li>
                                          <li><a href="#">Tips</a></li>
                                          <li><a href="#">Marketing</a></li>
                                      </ul>
                            </div>*@

                    </article><!-- End blog entry -->
                    @*<div class="blog-author d-flex align-items-center">
                            <img src="~/Content/assets2/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="medikal">
                            <div>
                                <h4>Jane Smith</h4>
                                <div class="social-links">
                                    <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                    <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                    <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                                </div>
                                <p>
                                    Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                                </p>
                            </div>
                        </div>*@
                    <!-- End blog author bio -->
                    <!--<div class="blog-comments">

                    <h4 class="comments-count">8 Comments</h4>

                    <div id="comment-1" class="comment">
                        <div class="d-flex">
                            <div class="comment-img"><img src="~/Content/assets2/img/blog/comments-1.jpg" alt="efatura gib"></div>
                            <div>
                                <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                                    Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                                </p>
                            </div>
                        </div>
                    </div>-->
                    <!-- End comment #1 -->
                    <!--<div id="comment-2" class="comment">
                    <div class="d-flex">
                        <div class="comment-img"><img src="~/Content/assets2/img/blog/comments-2.jpg" alt="efatura portal"></div>
                        <div>
                            <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                            <time datetime="2020-01-01">01 Jan, 2020</time>
                            <p>
                                Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                            </p>
                        </div>
                    </div>

                    <div id="comment-reply-1" class="comment comment-reply">
                        <div class="d-flex">
                            <div class="comment-img"><img src="~/Content/assets2/img/blog/comments-3.jpg" alt="efatura arşiv başvuru"></div>
                            <div>
                                <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                                    Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                                    Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                                </p>
                            </div>
                        </div>

                        <div id="comment-reply-2" class="comment comment-reply">
                            <div class="d-flex">
                                <div class="comment-img"><img src="~/Content/assets2/img/blog/comments-4.jpg" alt=" medikal efatura"></div>
                                <div>
                                    <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                                    </p>
                                </div>
                            </div>

                        </div>-->
                    <!-- End comment reply #2-->
                    <!--</div>--><!-- End comment reply #1-->
                    <!--</div>--><!-- End comment #2-->
                    <!--<div id="comment-3" class="comment">
                        <div class="d-flex">
                            <div class="comment-img">
                                     <img src="~/Content/assets/img/blog/İlkblogtasarımı.jpg" /> alt="efatura entegratörü"></div>
                            <div>
                                <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                                    Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                                </p>
                            </div>
                        </div>

                    </div>-->
                    <!-- End comment #3 -->
                    <!--<div id="comment-4" class="comment">
                        <div class="d-flex">
                            <div class="comment-img"><img src="~/Content/assets2/img/blog/comments-6.jpg" alt=" efatura arşiv başvuru"></div>
                            <div>
                                <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                                </p>
                            </div>
                        </div>

                    </div>-->
                    <!-- End comment #4 -->
                    <!--<div class="reply-form">
                            <h4>Leave a Reply</h4>
                            <p>Your email address will not be published. Required fields are marked * </p>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Your Name*">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="email" type="text" class="form-control" placeholder="Your Email*">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <input name="website" type="text" class="form-control" placeholder="Your Website">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Post Comment</button>

                            </form>

                        </div>

                    </div>-->
                    <!-- End blog comments -->

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <!--<h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>-->
                        <!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>

                                <li><a href="https://localhost:44383/Efatura/EFatura_Nedir">E-Fatura <span></span></a></li>
                                <li><a href="https://sanalfatura.com/Efatura/EFatura_Nedir">Muhasebe <span></span></a></li>
                                <li><a href="https://sanalfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-Arşiv <span></span></a></li>
                                <li><a href="https://sanalfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-İrsaliye <span></span></a></li>
                                @*<li><a href="#">Educaion <span></span></a></li>*@
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">


                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/efaturanedir.jpg" alt="efatura">
                                <h4><a href="/Efatura/EFatura_Nedir" target="_blank">E-Fatura Nedir? Avantajları Nelerdir?</a></h4>

                            </div>

                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/geçişzorunlluğu.jpg" alt="e-Fatura">
                                <h4><a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">E-Fatura Geçiş Zorunluluğu</a></h4>

                            </div>

                            <div class="post-item clearfix">
                                <img src="~/Content/img/blog/efaturanasılkullnlr.jpg" alt="ucretsiz efatura">
                                <h4><a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>

                            </div>
                            <div class="post-item clearfix">


                                <img src="~/Content/img/blog/önmusahebendr.jpg" alt="efatura entegratörü">
                                <h4><a href="/Efatura/Ön_muhasebe_nedir" target="_blank">Ön Muhasebe Nedir?</a></h4>

                            </div>
                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/E-arşive fatura nedir-100.jpg" alt="efatura">
                                <h4><a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank">E-Arşiv Fatura Nedir?</a></h4>

                            </div>
                            <!--
    <div class="post-item clearfix">
        <img src="~/Content/assets2/img/blog/blog-recent-4.jpg" alt="e fatura ">
        <h4><a href="blog-single.html">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>
        <time datetime="2020-01-01">20.04.2021</time>
    </div>

    <div class="post-item clearfix">
        <img src="~/Content/assets2/img/blog/blog-recent-5.jpg" alt="e fatura medikal">
        <h4><a href="blog-single.html">E-Mühtahsil Geçiş Zorunluluğu</a></h4>
        <time datetime="2020-01-01">01.04.2021</time>
    </div>
    -->
                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">E-Fatura</a></li>
                                <li><a href="#">Ön Muhasebe</a></li>
                                <li><a href="#">E-İrsaliye</a></li>
                                <li><a href="#">Muhasebe</a></li>
                                <li><a href="#">E-Arşiv</a></li>
                                <li><a href="#">E-Defter</a></li>
                                @*<li><a href="#">Creative</a></li>
                                    <li><a href="#">Studio</a></li>
                                    <li><a href="#">Smart</a></li>
                                    <li><a href="#">Tips</a></li>
                                    <li><a href="#">Marketing</a></li>*@
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->

</main><!-- End #main -->

