
@{
    ViewBag.Title = "EFaturaya_Gecis_Zorunlulugu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--<section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog Single</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li>Blog Single</li>
                </ol>
            </div>

        </div>
    </section>-->
    <!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="~/Content/img/blog/geçişzorunlluğu.jpg"alt="efatura başvuru" class="img-fluid" />
                        </div>

                        <h2 class="entry-title">
                            <a href="/Efatura/EFaturaya_Gecis_Zorunlulugu">E-Faturaya Geçiş Zorunluluğu</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                @*<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">17.05.2021</time></a></li>
                                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="/Efatura/Blogicerik" target="_blank"><time datetime="4dk">Okuma Süresi: 4dk</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content" style="text-align:justify">
                            <p>
                                19 Ekim 2019 tarih ve 30923 sayılı Resmi Gazetede yayımlanan 509 Sıra nolu Vergi Usul Kanunu ile başta e-Fatura, e-Arşiv Fatura ve e-SMM olmak üzere birçok e-dönüşüm çözümlerine geçiş şartları ve zorunlulukları yeniden belirlendi.


                            </p>

                            <p>

                            </p>

                            <blockquote>
                                <p>
                                    E-Faturaya Geçiş Zorunluğu Olanlar
                                </p>
                            </blockquote>

                            <p>
                                <ul>
                                    <li>2018 ve devam eden senelerde brüt satış rakamları 5.000.000 TL ve üzeri olanlar</li>
                                    <li>EPDK lisansı olanlar ( Benzinci v.b.)</li>
                                    <li>ÖTV ye tabi bazı malları imal, inşaa veya ithal edenler</li>
                                    <li>İnternet üzerinden aracılık hizmeti verenler</li>
                                    <li>Komisyoncu veya Tüccar olarak sebze ve meyve ticareti ile iştigal eden mükellefler</li>

                                </ul>
                            </p>

                            <h3></h3>
                            <p>
                                Benimfatura E-Fatura programıyla hızlı ve kolayca e-faturaya geçebilir, internet erişiminin olduğu
                                her yerden ister laptoptan ister cep telefonundan e-fatura ve e-arşiv fatura gönderebilirsiniz.<br />
                                <br />
                                Tüm müracaat sürecinden son dakikaya kadar tecrübeli uzmanlar sizlerin yanında.

                                Binlerce işletme sahibi gibi, siz de Benimfatura ön muhasebenizi internet erişiminizin olduğu her yerden hızlı ve kolayca takip edin.
                            </p>


                            <h3>E-Arşiv Faturaya Geçiş Zorunluluğu</h3>
                            <p>

                                <ul>
                                    <li> Tüm e-Fatura mükelleflerinin 1 Ocak 2020’ye kadar e-arşiv faturaya geçmeleri gerekmektedir.</li>
                                    <li> Aynı gün içinde firmaya kdv dahil dahil 5.000 TL fatura kesecekseniz e-arşiv faturası kesmeniz gerekecek.</li>
                                    <li> Aynı gün içinde vegi mükelelfi olmayan birine kdv dahil 30.000 TL üzeri bir fatura kesecekseniz e-arşiv faturası kesmeniz gerekli.</li>

                                </ul>
                            </p>
                            <h3>E-SMM Geçiş Zorunluluğu</h3>
                            <p>
                                <ul>
                                    <li>Serbest meslek makbuzu kesen serbest meslek erbaplarının 1 Haziran 2020’ye kadar e-smm uygulamasına geçmeleri gerekmektedir.</li>

                                    Bunlarla birlikte diğer e-dönüşüm çözümlerine zorunlu geçiş süreleri de aşağıdadır;
                                    <li>e-Müstahsil Makbuzu geçiş zorunluluğu: 1 Temmuz 2020</li>
                                    <li>e-Bilet:</li>
                                </ul>
                                <ul type="circle">
                                    <li>Kara ve deniz taşımacılığı yapan firmalar: 1 Ocak 2021</li>
                                    <li>Sinema işletmeleri: 1 Temmuz 2020</li>


                                </ul>
                            </p>

                        </div>

                    </article><!-- End blog entry -->


                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <!--<h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>-->
                        <!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>

                                <li><a href="https://localhost:44383/Efatura/EFatura_Nedir">E-Fatura <span></span></a></li>
                                <li><a href="https://internetfatura.com/Efatura/EFatura_Nedir">Muhasebe <span></span></a></li>
                                <li><a href="https://internetfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-Arşiv <span></span></a></li>
                                <li><a href="https://internetfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-İrsaliye <span></span></a></li>
                                @*<li><a href="#">Educaion <span></span></a></li>*@
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/efaturanedir.jpg" alt="e-Fatura">
                                <h4><a href="/Efatura/EFatura_Nedir" target="_blank">E-Fatura Nedir? Avantajları Nelerdir?</a></h4>

                            </div>

                            <div class="post-item clearfix">


                                <img src="~/Content/img/blog/geçişzorunlluğu.jpg" alt="ücretsiz efatura">
                                <h4><a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">E-Fatura Geçiş Zorunluluğu</a></h4>

                            </div>



                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/efaturanasılkullnlr.jpg" alt="efatura fiyatları">
                                <h4><a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>

                            </div>
                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/önmusahebendr.jpg" alt="payflex e fatura">
                                <h4><a href="/Efatura/Ön_muhasebe_nedir" target="_blank">Ön Muhasebe Nedir?</a></h4>

                            </div>
                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/E-arşive fatura nedir-100.jpg" alt="efatura">
                                <h4><a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank">E-Arşiv Fatura Nedir?</a></h4>

                            </div>

                            @*<div class="post-item clearfix">
            <img src="~/Content/assets2/img/blog/blog2.1.png" alt="e fatura portal">
            <h4><a href="blog-single.html">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>
            <time datetime="2020-01-01">20.04.2021</time>
        </div>

        <div class="post-item clearfix">
            <img src="~/Content/assets2/img/blog/blog-recent-5.jpg" alt="e fatura arşiv">
            <h4><a href="blog-single.html">E-Mühtahsil Geçiş Zorunluluğu</a></h4>
            <time datetime="2020-01-01">01.04.2021</time>
        </div>*@

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">E-Fatura</a></li>
                                <li><a href="#">Ön Muhasebe</a></li>
                                <li><a href="#">E-İrsaliye</a></li>
                                <li><a href="#">Muhasebe</a></li>
                                <li><a href="#">E-Arşiv</a></li>
                                <li><a href="#">E-Defter</a></li>
                                @*<li><a href="#">Creative</a></li>
                                    <li><a href="#">Studio</a></li>
                                    <li><a href="#">Smart</a></li>
                                    <li><a href="#">Tips</a></li>
                                    <li><a href="#">Marketing</a></li>*@
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->

</main><!-- End #main -->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


