
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="hero-area" class="hero-area-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="contents">
                    <h1 class="head-title">ÖMÜR BOYU ÜCRETSİZ E-FATURA PROGRAMI KULLANIN RAHAT EDİN!</h1>
                    <div id="internetfaturam"
                        <h2>Tüm Ön Muhasebe İşlerinizi Sadeleştirin, Kolaylaştırın ve Hızlandırın.</h2>
                    </div>
                    <div class="header-button">
                        <a rel="nofollow" href="#services" class="btn btn-common"title="Şimdi Başlayalım">Şimdi Başlayalım</a>
                        <a href="/setup/internetfaturam" title="e fatura İndir" class="btn btn-border video-popup">ŞİMDİ İNDİR</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section Start -->
<section id="services" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">E-Fatura Özellikleri</h2>
          
 <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
            <!-- Services item -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="lni-cog"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#" title="e fatura stok">Stok Takibi Modülü</a></h3>
                        <p style="text-align:left"> <span>&#10004;</span> Sınırsız Stok kartı Tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Barkodsuz ürünler için otomatik barkod tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Gramajlı ürünleriçin otomatik barkod tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Stok grubu ve birimi tanımlama</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="lni-stats-up"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#" title="e fatura cari kart">Cari Kart Modülü</a></h3>
                        <p style="text-align:left"> <span>&#10004;</span> Sınırsız Cari Hesap kartı ve grup tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cariye Stoklu-Stoksuz Satış</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cariye kasa'dan ödeme ve tahsilat yapabilme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cariyi borçlandırma ve alacaklandırma işlemleri</p>
                        <p style="text-align:left"> <span>&#10004;</span> Tahsilat ve ödeme makbuzu kesme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cari hesap ekstresi,Toplu Cari raporu ve cari işlem raporu alabilme</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="lni-users"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#" title="e fatura raporlama">Raporlama Sistemi</a></h3>
                        <p style="text-align:left"> <span>&#10004;</span> Cari kartlara ait Hesap ekstresi, Toplu cari raporu v.b.</p>
                        <p style="text-align:left"> <span>&#10004;</span> Stok, Depo Hareketleri,Stok listeleri raporu v.b.</p>
                        <p style="text-align:left"> <span>&#10004;</span> Satış,Kar-Zarar Analizi ve Gün Sonu raporu ve satış grafiği</p>
                        <p style="text-align:left"> <span>&#10004;</span> Toplu stok raporu ve stok hareketleri, Toplu Cari raporu ve cari işlem  raporunu alabilme </p>
                        <p style="text-align:left"> <span>&#10004;</span> Depo hareketleri raporunu alabilme</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="lni-layers"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#" title="e fatura arsivleme">Arsivleme</a></h3>
                        <p style="text-align:left"> <span>&#10004;</span> Minimum 10 yıl boyunca güvenli bir şekilde arşivleyebilirsiniz.</p>


                        <p style="text-align:left"> <span>&#10004;</span> Gramajlı ürünleriçin otomatik barkod tanımlama</p>

                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
                    <div class="icon">
                        <i class="lni-mobile"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#" title="e fatura modül">Fatura Modülü</a></h3>
                        <p style="text-align:left"> <span>&#10004;</span> Alış, Satış ve İade faturası düzenleme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Standart ve gramajlı ürün barkod desteği</p>
                        <p style="text-align:left"> <span>&#10004;</span> İrsaliyeyi fatura dönüştürme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Fatura makbuz basımı </p>
                        <p style="text-align:left"> <span>&#10004;</span> Detaylı alış, satış ve iade faturası raporlama</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
                    <div class="icon">
                        <i class="lni-rocket"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#" title="e fatura gonderme">Gönderme & Taslak Hazırlama</a></h3>
                        <p style="text-align:left"> <span>&#10004;</span> Fatura işlemlerinizi mail alma ve gönderme kolaylığında gerçekleştirebilirsiniz.</p>
                        <p style="text-align:left"> <span>&#10004;</span> Tıpkı mail'lerde olduğu gibi taslak olarak hazırlayabilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- About Section start -->
<div class="about-area section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 info">
                <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                    <div>

                        <div class="content">
                            <ol>
                                <l><i class="ri-check-double-line"></i> E-Faturayı İşin Profesyoneline Bırakın,Siz Keyfinize Bakın!</l>
                                <p class="font-weight-bold" style="margin-top: 3em;" style="color: #343a40; font-size: 30px; font familiy: nunito;" data-aos="fade-up" ></p>



                                <l><i class="ri-check-double-line"></i> Ücretsiz e-Faturaya Geçiş Uygulamamızla e-Faturaya Geçiş Yapın,</l>
                                <p class="font-weight-bold" style="margin-top: 3em;" style="color: #343a40; font-size: 30px; font familiy: nunito;" data-aos="fade-up"></p>

                                <l><i class="ri-check-double-line"></i> Faturalarınızı Hızlı ve Kolayca Anında Gönderin.</l>
                                <p class="font-weight-bold" style="margin-top: 3em;" style="color: #343a40; font-size: 30px; font familiy: nunito;" data-aos="fade-up"></p>

                            </ol>
                            <p class="font-weight-bold" style="margin-top: 3em;"style="color: #343a40; font-size: 25px font familiy: nunito;" data-aos="fade-up"></p>
                            
                                <a href="/Efatura/Blog" class="btn btn-common mt-3">Daha Fazla</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                <img class="img-fluid" src="~/Content/assets/img/about/intenetfatua özellikalti.png" alt="efatura">
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<!-- Features Section Start -->
<section id="features" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">İnternetFaturam ile Artık E-Fatura Daha Kolay !</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-left">
                    <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                       <span class="icon">
                        <i class="bi bi-pencil-square"></i>
                          </span>
                        <div class="text">
                            <a data-toggle="collapse" href="#collapse_ornek">
                              
                                <h4>E-fatura geçiş zorunluluğu</h4>
                            </a>
                           

                            <div class="collapse" id="collapse_ornek">

                               
                                <p>
                                    <li>Gelir İdaresi Başkanlığı tarafından yönetilen e-fatura uygulamasında amaç tek format ve standarda göre satıcı ve alıcı arasında güvenli, </li> 
                                    <li>zaman ve maliyet tasarrufu sağlayan bir sistem oluşturmaktır.</li>  
                                    <li>Bu nedenle Maliye Bakanlığı Gelir İdaresi Başkanlığı (GİB) tarafından, Vergi Usul Kanunu (VUK) Genel Tebliğleri ile E-fatura uygulamasına ait usul ve esas, standart ve düzenlemeler yapmıştır.
                                    </li> 
                                </p>
                                </div>
                            </div>
                        </div>

                    <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
                        <span class="icon">
                            <i class="bi bi-check-circle"></i>
                        </span>
                        <div class="text">
                            <a data-toggle="collapse" href="#collapse_ornek1"><h4>E-fatura avantajları</h4></a>
                            <div class="collapse" id="collapse_ornek1">


                                <p>
    <li> Maliyetleriniz azalır. (Kağıt, mürekkep, zarf, postalama, arşivleme ve mutabakat vb.)</li>
    <li>Faturalarınızı daha hızlı hazırlarsınız. Zamandan tasarruf etmiş olursunuz.</li>
    <li> Faturalarınızın kaybolma riski olmaz.</li>
    

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">
                        <span class="icon">
                            <i class="bi bi-shield-check"></i>
                        </span>
                        <div class="text">
                            <a data-toggle="collapse" href="#collapse_ornek2"><h4>Güvenli veri depolama</h4></a>
                            <div class="collapse" id="collapse_ornek2">


                                <p>
                                    
                                        <li> Sahip olduğumuz veriler kıymetlidir ve bu veriler her geçen gün büyüme gösterir.</li>
                                        <li>Sahip olduğunuz Veri hacminin artması, veri depolama ve yönetim maliyetlerinin de artması anlamına gelmemektedir.</li>
                                        <li>Veri depolama çözümleri ve veri depolama birimleri sahip olduğunuz kıymetli verileri ilk andan itibaren güvenli, veri türünün sahip olduğu kodlama türüne uyumlu, hızlı ve esnek depolama çözümleri sunmalıdır.</li>
                                        <li> Ayrıca, anlık büyüme gösteren, geçici süre ihtiyaç duyulan veriler bulut veri depolama ve bulut yedekleme çözümleri ile hizmet sunmaktayız.</li>

                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="show-box wow fadeInUp" data-wow-delay="0.3s">

                    
                    <img src="~/Content/assets/img/feature/Artboard 2,.png" alt="efatura">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="content-right">
                    <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                        <span class="icon">
                            <i class="bi bi-patch-question" ></i>
                        </span>
                        <div class="text">
                            <a data-toggle="collapse" href="#collapse_ornek3"><h4>Teknik destek</h4></a>
                            <div class="collapse" id="collapse_ornek3">
                                <p><b>  Destek için iletişim hattımız:</b></p>
                                <p>+90 0212 912 24 26 </p>

                                <p>
                                    
                                        <li> Sistem hakkında her türlü bilgi, istek ve önerilerinizi form ile bize gönderebilirsiniz. Operatörlerimiz en kısa zamanda sizinle iletişime geçecektir.</li>
                                        <li> Yazılım Desteği Almak istiyorsanız</li>
                                        <li> E-Faturan destek ve bağlantı sistemi, yazılım ürünleri ile ilgili ön destek almanızı sağlayan bir takip sistemdir.</li>
                                        <li> Sistemden alacağınız Destek Numarası ile müşteri hizmetlerimizi arayarak destek talebinde bulanabilirsiniz.</li>
                                        <li> Destek ve Bağlantı sisteminden faydalanabilmek için kredi kartı ile 150 TL ödemeniz gerekir.</li>

                                    
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                        <span class="icon">
                            <i class="lni-layers"></i>
                        </span>
                        <div class="text">
                            <a data-toggle="collapse" href="#collapse_ornek4"><h4>Ön muhasebe</h4></a>
                            <div class="collapse" id="collapse_ornek4">
                                <p>

                                    <li> İşletmenin sürdürülebilir yönetimi için fatura kesilme aşamasından tahsilat adımına,</li>   
                                    <li> alış faturalarının işlenmesinden ödeme adımına,</li>  
                                    <li> ürünlerin stok takibine, işletmedeki nakit akışına varıncaya dek tüm bu işlemlerin kayıt altına alınması</li>  
                                    <li> sürecine Ön Muhasebe diyebiliriz.Genç ve küçük işletmelerde tüm bu işlemleri işletme sahibi yapmayı tercih edebilir.</li>  
                                    <li> Gelişmiş işletmelerde ise daha çok ön muhasebe kayıtları için ön muhasebe elemanı işe alınır.</li>  
                                    <li> Elle yapılan kayıtlarda Excel yardımıyla kayıtlar elektronik ortamda tutulur.</li>   
                                    <li> Tüm bu işlemlerin düzenli ve hatasız olması şirket için büyük önem taşır.</li>  

                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
                        <span class="icon">
                            <i class="bi bi-card-text"></i>
                        </span>
                        <div class="text">
                            <a data-toggle="collapse" href="#collapse_ornek5"><h4>E-irsaliye</h4></a>
                            <div class="collapse" id="collapse_ornek5">
                                <p>
                                    <li>Türkiye’nin e-dönüşümü, 2012’de Gelir İdaresi Başkanlığı’nın (GİB) ilk olarak e-defter zorunluluğunu getirmesiyle başladı. Bu noktadan itibaren Türkiye’deki raporlama zorunlulukları genişlemeyi sürdürdü.</li>

                                    <li>Zamanla zorunlulukların kapsamı genişleyip yeni vergi mükellefleri zorunluluk kapsamına girdikçe, zorunluluklara uyması gereken mükellef sayısı da arttı.</li>

                                    <li>Sonuç olarak günümüzde, işletmelerin çeşitli e-uygulamaları yönetebilen ve bu uygulamaların karmaşıklığını azaltan bir sistemi benimsemesi gerekiyor. </li>
                                </p>
                              

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->
<!-- Call To Action Section Start -->

<!-- Call To Action Section Start -->
<!-- Pricing section Start -->
<section id="pricing" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Sıkça Sorulan Sorular</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
           <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInLeft animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
                    <div class="icon-box">
                        <i class="lni-package"></i>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">E-Fatura nedir ?</p>
                    </div>
                    <div class="title">
                        <h3></h3>
                    </div>
                    <ul class="description">
                        <li>Dijital ortamda hazırlanan faturalara Elektronik Fatura (E-Fatura) denir. Kâğıda basılmayan ve internet üzerinden alıcı ve satıcıya iletilen e-fatura, ileride tüm firmalar için zorunlu hale getirilecektir.Dünyada ve ülkemde yaygın olarak kullanılan elektronik fatura sistemi sayesinde tüm işletmeler ve mükellefler kolaylıkla elektronik fatura kesebilmekte ve gerektiğinde eski faturalara kolaylıkla ulaşabilmektedir.</li>
                         
                    </ul>
                    <a class="btn btn-common" href="/Efatura/EFatura_Nedir">Ayrıntılar için tıklayın</a>
</div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 active">
                <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-drop"></i>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">E-Fatura’yı niçin kullanmalıyım ?</p>
                    </div>
                    <div class="title">
                        <h3></h3>
                    </div>
                    <ul class="description">
                        <li>
                            E-fatura kullanımında girilen faturalar anında dijital ortama kayıt edildiğinden müşteriler ve satıcılarla mutabakat yapmanız kolaylaşır. Sanal Fatura aracılığıyla güvenli bir şekilde fatura gönderip alarak fatura bilgilerine sistem sorgusuyla anında erişerek faturaya ilişkin bilgilerin anında kontrolünü sağlayabilirsiniz.
                        </li>

                    </ul>
                    <a class="btn btn-common" href=/Efatura/EFaturaya_Gecis_Zorunlulugu ">Ayrıntılar için tıklayın</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon-box">
                        <i class="lni-star"></i>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">E-fatura uygulamasına geçtikten sonra kâğıt fatura düzenleyemez miyim? </p>
                    </div>
                    <div class="title">
                        <h3></h3>
                    </div>
                    <ul class="description">
                        <li>
                            E-fatura uygulamasına geçtikten sonra sisteme dahil olan firmalara e-fatura, dahil olmayan firmalara ise kağıt fatura göndermeniz gerekmektedir. Bu nedenle fatura alıcısının sisteme dahil olup olmadığının kontrolü fatura oluşturulmadan önce mükellef tarafından yapılmalıdır.Elektronik fatura sistemine geçmek istiyorsanız, vergi idare sistemine kayıt olmanız ve elektronik fatura aktivasyon işlemini tamamlamanız gerekmektedir.
                        </li>

                    </ul>
                    <a class="btn btn-common" href=/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir "> Ayrıntılar için tıklayın</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Table Section End -->
<!-- Testimonial Section Start -->
<section id="testimonial" class="testimonial section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
                    <div class="item">
                        <div class="testimonial-item">
                            
                                
                            <div class="info">
                                <h2><a href="#">Ferhat Sağlam</a></h2>
                                <h3><a href="#">İşletmeci</a></h3>
                            </div>
                            <div class="content">
                                <p class="description"> " E-Fatura kullanarak işletmemizin maliyetleri fazlasıyla azaldı. Aynı zamanda faturaların müşteriye gönderimi için kargoya gerek kalmaz e-fatura anında müşterilere iletiliyor."</p>
                                <div class="star-icon mt-3">
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-half"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            
                            <div class="info">
                                <h2><a href="#">Begüm Ünal</a></h2>
                                <h3><a href="#">Eczacı</a></h3>
                            </div>
                            <div class="content">
                                <p class="description">
                                    İstediğimiz her yerden verilere anında ulaşabiliyoruz. E-Fatura'nın işletmemiz için en avantajı çok.
                                </p>
                                <div class="star-icon mt-3">
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                    <div class="item">
                        <div class="testimonial-item">
                           
                            <div class="info">
                                <h2><a href="#">Levent Öztürk</a></h2>
                                <h3><a href="#">Esnaf</a></h3>
                            </div>
                            <div class="content">
                                <p class="description">
                                    E-Fatura'nın en büyük avantajı zamandan tasarruf diyebilirim. Hem daha hızlı hazırlanıyor hemde müşteriye daha hızlı iletiliyor.
                                </p>
                                <div class="star-icon mt-3">
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-filled"></i></span>
                                    <span><i class="lni-star-half"></i></span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section End -->
<!-- Call To Action Section Start -->
<section id="cta" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">

                <div id="ctaText" class="cta-text" style="text-align:center;"   >
                    <div>
                        <h4 class="">Şimdi Ücretsiz İndir</h4>
                    </div>
                    <div>
                        <p class=""> E-Fatura ücretsiz programı herhangi bir kısıtlama olmaksızın ömür boyu kullanabileceğiniz bir bedava elektronik faturalama programıdır.</p></b>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s"style="display: flex; align-items: center; justify-content:center; text-align:center;">
                <div id="btnDiv" class="btnUcretsiz" style="display: flex; align-items: center; justify-content:center; text-align:center;">
                    <a href="#" id="btnUcretsiz" class="btn btn-common">ÜCRETSİZ İNDİR</a>
                </div>
        </div>
       </div>
    </div>
</section>
<!-- Call To Action Section Start -->
<!-- Contact Section Start -->
<section id="contact" class="section-padding bg-gray">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">BİZE ULAŞIN</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-0col-md-19 col-sm-12">
                <!-- Call To Action Section Start -->
                <section id="cta" class="section-padding">
                    <div class="container">
                        
                    </div>
                </section>
                <!-- Call To Action Section Start -->
            </div>
            <div class="row">

                <br><br>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12062.643012076005!2d31.172284!3d40.901256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x332d4e256b968190!2sBilsoft!5e0!3m2!1str!2str!4v1625561764933!5m2!1str!2str"
                        width="1200" height="350px;" style="border:0; text-align: center; border-radius: 0px;" allowfullscreen=""
                        loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
