@{

    ViewBag.Title = "Kampanyalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    <div style="width:100%;background-size:cover">

        <img src="~/Content/img/internetfaturam kampanya.png"  alt="İnternet Fatura bir Bilsoft kuruluşudur." style="width:100%">
    </div>

        <div class="container">
        <div class="kampanya-aciklama">
            <p>Açıklamalar:</p>
        </div>
        <div class="list">
            <ul>

                <li>Fiyatlara KDV dahil değildir.</li>
                <li>Fiyatlar 1 yıllık sözleşme için geçerlidir.</li>
                <li>Fiyatlara saklama ücreti dahildir.</li>
                <li>Faturalandırma paket türüne göre aylık periyodlarla yapılmaktadır.</li>
                <li>Kampanyadan yararlanmak için programın satın alındığı tarihten itibaren 1 ay içerisinde aktivasyon yapılması gerekir.</li>
                <li>Hediye verilen kontör E-fatura, E-arşiv ve E-irsaliye için geçerlidir.</li>
                <li>Kampanya kapsamında ücretsiz 6 ay boyunca sınırsız e-belge oluşturulabilir.</li>
                <li>İnternet Fatura kampanya şartlarını değiştirme hakkını saklı tutar.</li>
                <li>Kampanya kapsamındaki hediye kullanım süresi bittiğinde kullanıcı kendisine uygun aylık kontör miktarını seçerek dilediği E-fatura/E-arşiv paketini satın alabilir. </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
</main>

<section id="kampbtn" class="kampbtn">
    <div class="container">

        <div class="button">
            <div class="text-center">
                <a class="kamp-btn" href=# title="e fatura indir">ÜCRETSİZ İNDİR</a>
            </div>
        </div>
    </div>
</section>
