
@{
    ViewBag.Title = "KVKK";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="container" style="margin-top: 3em;" data-aos="fade-up">

    <div class="container">
        <div class="kampanya-aciklama">
            <br>
            <p style="color: #ff637a; font-size: 25px"> İnternet Fatura Çerez Politikası</p>
        </div>
        <div class="list" ; style="color:#373737">
            <ul>
                <li>İnternet Fatura Hizmetleri tarafından hazırlanmıştır ve internetfatura.com Gizlilik Politikası'nın ekini oluşturmaktadır.</li>
                <li>
                    Birçok web sitesi gibi, internetfatura.com'da da ziyaretçilere kişisel içerik ve reklamlar göstermek, Portal üzerinde trafik analizi gerçekleştirmek
                    ve ziyaretçi kullanım alışkanlıklarını anlamak amacıyla Çerezler kullanılmaktadır
                    (Portal'da kullanılan çerez türleri ve kullanım amaçları için bkz. [Hangi Çerezler Kullanılmaktadır?]).
                </li>
                <li>
                    İnternet Fatura, %100 yerli ve milli imkânlarla geliştirdiği programlarıyla KOBİ'lerin finansal süreçlerini, gelir giderlerini daha etkin,
                    daha kolay ve daha güvenli şekilde yönetmelerini sağlamaktadır.
                    İnternet Fatura 'nın geliştirdiği e-dönüşüm (e-fatura, e-arşiv fatura, e-irsaliye, e-müstahsil) programı,
                    personel takip programı, pazar yeri entegrasyonu ve teknik servis programı geliştirerek kullanıcılarına sunmuştur.
                    İnternet Fatura , bugüne kadar elde ettiği yetenek ve tecrübeleri bugünün trendleri ile birleştirerek,
                    kullanıcılarına yenilikçi çözümler sunmaya devam edecektir.
                </li>
                <li>Faturalandırma paket türüne göre aylık veya yıllık periyodlarla yapılmaktadır.</li>
                <li>Fatura adetleri üst limit olarak belirlenmiş olup limitlerin aşılması halinde ilave birim fiyat ile ücretlendirilir.</li>
            </ul>
        </div>

        <div class="kampanya-aciklama">
            <p style=" color: #ff637a; font-size: 16px"> ÇEREZ ("COOKİE") NEDİR?</p>
        </div>
        <div class="list" ; style="color:#373737">
            <ul>
                <li>
                    Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla bilgisayarınıza
                    (ya da akıllı telefon veya tablet gibi diğer cihazlarınıza) kaydedilen ve genelde harf ve rakamlardan oluşan
                    çok küçük metin dosyalarıdır. Çerezler, ziyaretçilere ilişkin isim, cinsiyet veya adres gibi kişisel verileri içermezler.
                    Çerezler, ziyaret ettiğiniz web sitesini yöneten sunucular tarafından oluşturulurlar. Böylelikle ziyaretçi aynı siteyi
                    ziyaret ettiğinde sunucu bunu anlayabilir.
                    Çerezler, web sitesi sahiplerine aynı ziyaretçinin siteyi yeniden ziyaret ettiğini gösteren kimlik kartlarına benzetilebilir.
                    Çerezler konusundan daha detaylı bilgi için www.aboutcookies.org ve www.allaboutcookies.org adreslerini ziyaret edebilirisiniz.
                </li>
            </ul>
        </div>

        <div class="kampanya-aciklama">
            <p style="color: #ff637a; font-size: 16px"> HANGİ ÇEREZLER KULLANILMAKTADIR?</p>
        </div>
        <div class="list" ; style="color:#373737">
            <ul>
                <li>
                    internetfatura.com Çerez Politikası İnternet Fatura  Efatura Hizmetleri tarafından hazırlanmıştır ve internetfatura.com
                    Gizlilik Politikası'nın ekini oluşturmaktadır.
                </li>

            </ul>
        </div>

        <div class="kampanya-aciklama">
            <p style="color: #ff637a; font-size: 16px"> Çerezler Neden Kullanılmaktadır?</p>
        </div>
        <div class="list" ; style="color:#373737">
            <ul>
                <li>
                    Portal da, Çerezler aşağıdaki amaçlar kapsamında kullanılmaktadır: Portal'ın çalışması için gerekli temel fonksiyonları gerçekleştirmek.
                    Örneğin, Portal üyelerinin, üyelik bilgileriyle giriş yapabilmesi. Portal'ı analiz etmek ve Portal'ın performansını arttırmak.
                    Örneğin, Portal'ı ziyaret edenlerin sayısının tespit edilmesi ve buna göre performans ayarlarının yapılması ya da ziyaretçilerin
                    aradıklarını bulmalarının kolaylaştırılması. Portal'ın işlevselliğini arttırmak ve kullanım kolaylığı sağlamak.
                    Örneğin, Portal'ı ziyaret eden ziyaretçinin daha sonraki ziyaretinde kullanıcı adı bilgisinin ya da arama sorgularının
                    hatırlanması veya Portal üzerinden üçüncü taraf sosyal medya faaliyetlerine bağlantı sağlamak. Kişiselleştirme, hedefleme
                    ve reklamcılık faaliyeti gerçekleştirmek. Örneğin, ziyaretçilerin görüntüledikleri sayfa ve ürünler üzerinden ziyaretçilerin
                    ilgi alanlarıyla ilgili reklam gösterilmesi.

                </li>
            </ul>
        </div>
        <div class="kampanya-aciklama">
            <p style="color: #ff637a; font-size: 16px"> ÇEREZ TERCİHLERİ NASIL YÖNETİLİR?</p>
        </div>
        <div class="list" ; style="color:#373737">
            <ul>
                <li>
                    Ziyaretçilerin kendilerine ait hangi kişisel verilerin toplanabildiği konusunda tercihlerini serbestçe kullanabilmesi
                    İnternet Fatura için son derece önemlidir. Bununla birlikte, Portal'ın çalışması için zorunlu olan Çerezler konusunda
                    tercih yönetimi mümkün olamamaktadır.
                    Ayrıca, bazı Çerezlerin kapatılması halinde Portal'ın çeşitli fonksiyonlarının çalışmayabileceğini hatırlatırız.
                    Portal'da kullanılan Çerezlere dair tercihlerini ne şekilde yönetebileceğinize ilişkin bilgiler aşağıdaki gibidir:
                    Ziyaretçiler, Portal'ı görüntüledikleri tarayıcı ayarlarını değiştirerek çerezlere ilişkin tercihlerini kişiselleştirme imkanına sahiptir.
                    Eğer kullanılmakta olan tarayıcı bu imkânı sunmaktaysa, tarayıcı ayarları üzerinden Çerezlere ilişkin tercihleri değiştirmek mümkündür.
                    Böylelikle, tarayıcının sunmuş olduğu imkanlara göre farklılık gösterebilmekle birlikte, veri sahiplerinin çerezlerin kullanılmasını
                    engelleme, çerez kullanılmadan önce uyarı almayı tercih etme veya sadece bazı Çerezleri devre bırakma ya da silme imkanları bulunmaktadır.
                    Bu konudaki tercihler kullanılan tarayıcıya göre değişiklik göstermekle birlikte genel açıklamaya https://www.aboutcookies.org/ adresinden
                    ulaşmak mümkündür. Çerezlere ilişkin tercihlerin, ziyaretçinin Portal'a erişim sağladığı her bir cihaz özelinde ayrı ayrı yapılması gerekebilecektir.
                    Google tarafından sağlanan kişiselleştirilmiş reklam deneyimini yönetmek için tıklayınız. Google Analytics tarafından yönetilen Çerezleri
                    kapatmak için tıklayınız. Birçok firmanın reklam faaliyetleri için kullandığı çerezler bakımından tercihler Your Online Choices
                    üzerinden yönetilebilir.
                    Mobil cihazlar üzerinden Çerezleri yönetmek için mobil cihaza ait ayarlar menüsü kullanılabilir.


                </li>
            </ul>
        </div>
        <div class="kampanya-aciklama">
            <p style="color: #ff637a; font-size: 16px">ZİYARETÇİLER HANGİ HAKLARA SAHİP?</p>
        </div>
        <div class="list" ; style="color:#373737">
            <ul>
                <li>
                    6698 Sayılı Kişisel Verilerin Korunması Kanunu'nun 11. maddesi uyarınca ziyaretçiler, İnternet Fatura'ya başvurarak,
                    kendileriyle ilgili, Kişisel veri işlenip işlenmediğini öğrenme,
                    Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                    Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                    Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                    Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin
                    kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                    Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen,
                    işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme
                    ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                    İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine
                    bir sonucun ortaya çıkmasına itiraz etme,
                    Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
                    Söz konusu haklar, kişisel veri sahipleri tarafından yazılı olarak ya da kayıtlı elektronik posta adresi üzerinden iletildiğinde
                    her hâlükârda 30 (otuz) gün içerisinde değerlendirilerek sonuçlandırılacaktır. Taleplere ilişkin olarak herhangi bir ücret talep
                    edilmemesi esas olmakla birlikte, İnternet Fatura, Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret tarifesi üzerinden
                    ücret talep etme hakkını saklı tutar.


                </li>
            </ul>
        </div>
        <div class="kampanya-aciklama">
            <p style="color: #ff637a; font-size: 16px">RIZA VE POLİTİKALARDAKİ DEĞİŞİKLİKLER</p>
        </div>
        <div class="list" ; style="color:#373737">
            <ul>
                <li>
                    İnternet Fatura , Politika ile ziyaretçilerine Çerez kullanımı konusunda detaylı açıklama sunmayı ve Çerez tercihleri konusunda bilgilendirmede bulunmayı hedeflemiştir.
                    Bu bakımdan, Portal'da yer alan Çerez bilgilendirme uyarısının kapatılması ve Portal'ın kullanmaya devam edilmesi halinde Çerez kullanımına rıza verildiği kabul edilmektedir. Ziyaretçilerin Çerez tercihlerini değiştirme imkânı her zaman saklıdır.
                    İnternet Fatura , Politika hükümlerini dilediği zaman değiştirebilir. Güncel Politika Portal'da yayınlandığı tarihte yürürlük kazanır.

                </li>
            </ul>
        </div>

    </div>
  
</div>