
@{
    ViewBag.Title = "Ücretsiz_EFatura_Nasil_Kullanilir";
    Layout = "~/Views/Shared/_Layout.cshtml";


#line default
#line hidden

#line 2 "C:\Users\Esma Nur\Desktop\SanalFaturaMVC-1 - Kopya\SanalFaturaMVC\Views\Efatura\ViewPage1.cshtml"

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--<section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog Single</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li>Blog Single</li>
                </ol>
            </div>

        </div>
    </section>-->
    <!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="~/Content/img/blog/efaturanasılkullnlr.jpg" alt="ücretsiz efatura" class="img-fluid">

                        </div>

                        <h2 class="entry-title">
                            <a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir">Ücretsiz E-Fatura Nasıl Kullanılır?</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                @*<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">09.05.2021</time></a></li>
                                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>*@
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="/Efatura/Blogicerik" target="_blank"><time datetime="4dk">Okuma Süresi: 4dk</time></a></li>
                            </ul>
                        </div>

                        <div class="entry-content" style="text-align:justify">
                            <p>
                                Ücretsiz e-Fatura Kullanımına ilişkin yöntemleri derlediğimiz yazımızda tüm ayrıntıları ve metodları bulabileceksiniz.

                            </p>

                            <p>
                                E-Fatura’nın güvenli ve hızlı olmasının beraberinde faturaların elektronik ortamda güvenle kullanılabilmesi sayesinde
                                bu sistem çağımızda giderek popüler hale gelmiştir. <br />
                                Tahsilat süreçlerini hızlandırmak isteyen firmalar bedava dağıttığı
                                e-Fatura kullanarak hem maliyetten hem vakitten tasarruf eder.
                                Peki, e-Fatura nasıl kesilir, nasıl sisteme geçiş yapılır diye merak ediyorsanız, okumaya devam edin. İşte ayrıntılar!
                            </p>

                            <blockquote>
                                <p>
                                    E-Faturaya Nasıl Başvurulur?
                                </p>
                            </blockquote>

                            <p>
                                E-Fatura başvurusu yapılmak isteniyorsa, ilk önce “Mali Mühür Sertifikası” için başvuru yapmalıdır.
                                Kamu Sertifikasyon Merkezi (KSM) TÜBİTAK’a bağlı bir kurumdur ve mali mühür başvurusu buradan online olarak yapılır.
                                Başvuru süreci tamamlanıp, ödeme yapıldıktan sonraki 1 hafta içerisinde sertifika alıcısına ulaşır.
                                İkinci adımda ise Gelir İdaresi Başkanlığı’nda e-Fatura başvurusu için form doldurulmalıdır.
                            </p>

                            <h3>E-Faturaya Nasıl Geçilir?</h3>
                            <p>
                                E-Faturayı mali avantajlarından dolayı ya da zorunlu olarak kullanmanız gerekiyorsa geçiş yapmak oldukça kolaydır.
                                GİB Portal, Gelir İdaresi Başkanlığı ve özel entegratör üzerinden geçiş yapılabilir.
                                Başvuru süreçlerini tamamlayanlar direkt olarak GİB web sitesinden işlemlere başlayabilir.
                                <br />
                                Şahıs firmalarında elektronik imza kullananlar e-imza ile e-fatura başvuru sürecini yönetebilir.
                                Zorunlu olarak geçiş yapacak işletmeler ise direkt olarak mali mühür ve e-Fatura sistemine geçiş yapmalıdır.
                                İsteğe bağlı e-Fatura kullanıcısı olacak firmalarsa, yılın istedikleri herhangi bir zamanında e-faturaya geçiş talep edebilirler.
                            </p>
                            <img src="~/Content/assets/img/blog/efaturaonlnenasıl krurulr2.jpg" class="img-fluid" alt="medikal e fatura programı">

                            <h3>E-Fatura Kurulumu Online Olarak Nasıl Yapılır?</h3>
                            <p>
                                E-Fatura kullanmak için ön müracaat ve mali mühür alanlar, e-Fatura kurulumunu online şekilde kısa bir süre içinde yapabilir.
                                Bunun için Gelir İdaresi Başkanlığı sitesine online olarak giriş yapmanız gerekir. Buradan yapılan müracaatların ardından özel entegratör protokolü yapılır.
                                Sözleşmedeki bilgilerle beraber şirket hesabı açılır ve çoğu portalda olduğu gibi kullanıcı adı ile şifre girmeniz istenir.
                                Daha sonra e-Fatura ve e-Arşiv için gerekli tasarımlar uygulanır.
                                Sistemdeki aktivasyon işlemleri gerçekleştikten sonra online olarak e-Fatura kullanmaya başlayabilirsiniz.

                            </p>



                        </div>

                    </article><!-- End blog entry -->


                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <!--<h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>-->
                        <!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="sidebar-item categories">
                            <ul>

                                <li><a href="https://localhost:44383/Efatura/EFatura_Nedir">E-Fatura <span></span></a></li>
                                <li><a href="https://sanalfatura.com/Efatura/EFatura_Nedir">Muhasebe <span></span></a></li>
                                <li><a href="https://sanalfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-Arşiv <span></span></a></li>
                                <li><a href="https://sanalfatura.com/Efatura/%C3%9Ccretsiz_EFatura_Nasil_Kullanilir">E-İrsaliye <span></span></a></li>
                                @*<li><a href="#">Educaion <span></span></a></li>*@
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Çok Okunanlar</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/efaturanedir.jpg" alt="ucretsiz efatura" />
                                <h4><a href="/Efatura/EFatura_Nedir" target="_blank">E-Fatura Nedir? Avantajları Nelerdir?</a></h4>

                            </div>

                            <div class="post-item clearfix">
                                <img src="~/Content/img/blog/geçişzorunlluğu.jpg" alt="efatura başvuru " />

                                <h4><a href="/Efatura/EFaturaya_Gecis_Zorunlulugu" target="_blank">E-Fatura Geçiş Zorunluluğu</a></h4>

                            </div>



                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/efaturanasılkullnlr.jpg" alt="efatura fiyatlları">
                                <h4><a href="/Efatura/Ücretsiz_EFatura_Nasil_Kullanilir" target="_blank">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>

                            </div>
                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/önmusahebendr.jpg" alt="payflex e fatura">
                                <h4><a href="/Efatura/Ön_muhasebe_nedir" target="_blank">Ön Muhasebe Nedir?</a></h4>

                            </div>
                            <div class="post-item clearfix">

                                <img src="~/Content/img/blog/E-arşive fatura nedir-100.jpg" alt="efatura">
                                <h4><a href="/Efatura/E_Arsiv_Fatura_Nedir" target="_blank">E-Arşiv Fatura Nedir?</a></h4>

                            </div>

                            @*<div class="post-item clearfix">
            <img src="~/Content/assets2/img/blog/blog2.1.png" alt="e fatura">
            <h4><a href="blog-single.html">Ücretsiz E-Fatura Nasıl Kullanılır?</a></h4>
            <time datetime="2020-01-01">20.04.2021</time>
        </div>

        <div class="post-item clearfix">
            <img src="~/Content/assets2/img/blog/blog-recent-5.jpg" alt="r fatura medikal">
            <h4><a href="blog-single.html">E-Mühtahsil Geçiş Zorunluluğu</a></h4>
            <time datetime="2020-01-01">01.04.2021</time>
        </div>*@

                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Etiketler</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">E-Fatura</a></li>
                                <li><a href="#">Ön Muhasebe</a></li>
                                <li><a href="#">E-İrsaliye</a></li>
                                <li><a href="#">Muhasebe</a></li>
                                <li><a href="#">E-Arşiv</a></li>
                                <li><a href="#">E-Defter</a></li>
                                @*<li><a href="#">Creative</a></li>
                                    <li><a href="#">Studio</a></li>
                                    <li><a href="#">Smart</a></li>
                                    <li><a href="#">Tips</a></li>
                                    <li><a href="#">Marketing</a></li>*@
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->

</main><!-- End #main -->
